In [5]:
import pandas as pd

In [6]:
pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl.metadata (1.8 kB)
Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 250.0/250.0 kB 4.8 MB/s eta 0:00:00a 0:00:01
Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2
Note: you may need to restart the kernel to use updated packages.

In [7]:
customers = pd.read_excel("H+ Sport Customers.xlsx", sheet_name="data")

In [8]:
customers.head()

,CustomerID,FirstName,LastName,Email,Phone,Address,City,State,Zipcode
0,100,Carol,Shaw,cshaw0@mlb.com,(206)804-8771,8157 Longview Court,Seattle,WA,98121
1,101,Elizabeth,Carr,ecarr1@oracle.com,(512)187-2507,3934 Petterle Trail,Austin,TX,78732
2,102,Ernest,Ramos,eramos2@plala.or.jp,(816)540-4257,8699 Clarendon Terrace,Kansas City,MO,64199
3,103,Jane,Carter,jcarter3@harvard.edu,(214)839-0542,2830 Novick Lane,Irving,TX,75037
4,104,Martha,Cooper,mcooper4@go.com,(727)235-5696,4537 Hoard Lane,Tampa,FL,33625

In [9]:
customers.columns

Index(['CustomerID', 'FirstName', 'LastName', 'Email', 'Phone', 'Address',
       'City', 'State', 'Zipcode'],
      dtype='object')

In [13]:
# check to see how many rows are duplicates by using unique values per customer, i.e. all customers have unique values in list
columns_to_check = ['Email', 'Phone', 'FirstName', 'LastName' ]
duplicates = customers[customers.duplicated(columns_to_check)]
duplicates.shape

(29, 9)

In [19]:
# remove/de-duplicate all duplicate data
customers = customers[customers.duplicated(columns_to_check, keep="first")]

In [20]:
# check for existence of missing values
customers.isnull().sum()

CustomerID    0
FirstName     0
LastName      0
Email         0
Phone         0
Address       0
City          0
State         0
Zipcode       0
dtype: int64